﻿@model Marca

@{
    ViewData["Title"] = "Silo Comunicaciones - Gestión Web";
}

<h2>Agregar una marca</h2>

<form method="POST">
    <div class="form-group">
        <label asp-for="VcMarcaName" class="form-control">Nombre de la marca</label>
        <input type="text" asp-for="VcMarcaName">
    </div>
    <input type="submit" value="Guardar"/>
</form>