﻿@model Marca

@{
    ViewData["Title"] = "Silo Comunicaciones - Gestión Web";
}

<h2>Edición de la marca con ID @Model.MarcaId</h2>

<form method="POST">
    <div class="form-group">
        <label asp-for="VcMarcaName" class="form-control">Nombre de la Marca</label>
        <input type="text" asp-for="VcMarcaName" value="@Model.VcMarcaName">
    </div>
    <div class="form-group">
        <label asp-for="VcMarcaStatus" class="form-control">Estado</label>
        <input type="text" asp-for="VcMarcaStatus" value="@Model.VcMarcaStatus">
    </div>
    <input type="submit" value="Guardar"/>
</form>