﻿@model List<Marca>
@{
    ViewData["Title"] = "Silo Comunicaciones - Gestión Web";
}

<h2>Marcas</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre de la Marca</th>
            <th scope="col">Estado</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var marca in @Model)
        {
            <tr>
                <th scope="row">@marca.MarcaId</th>
                <td>@marca.VcMarcaName</td>
                <td>@marca.VcMarcaStatus</td>
                <td><a href="~/../Marca/EditarMarca/@marca.MarcaId">Editar</a></td>
                <td><a href="~/../Marca/BorrarMarca/@marca.MarcaId">Eliminar</a></td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div>
    <a href="~/../Marca/CrearMarca/">Agregar una marca</a>
</div>