﻿@model Proveedor

@{
    ViewData["Title"] = "Silo Comunicaciones - Gestión Web";
}

<h2>Agregar proveedor</h2>

<form method="POST">
    <div class="form-group">
        <label asp-for="VcProvName" class="form-control">Nombre del Proveedor</label>
        <input type="text" asp-for="VcProvName">
    </div>
    <div class="form-group">
        <label asp-for="VcProvDesc" class="form-control">Descripción</label>
        <input type="text" asp-for="VcProvDesc">
    </div>
    <input type="submit" value="Guardar"/>
</form>