﻿@model Proveedor

@{
    ViewData["Title"] = "Silo Comunicaciones - Gestión Web";
}

<h2>Editar @Model.ProveedorId</h2>

<form method="POST">
    <div class="form-group">
        <label asp-for="VcProvName" class="form-control">Nombre del Proveedor</label>
        <input type="text" asp-for="VcProvName" value="@Model.VcProvName">
    </div>
    <div class="form-group">
        <label asp-for="VcProvDesc" class="form-control">Descripción</label>
        <input type="text" asp-for="VcProvDesc" value="@Model.VcProvDesc">
    </div>
    <div class="form-group">
        <label asp-for="VcProvStatus" class="form-control">Estado</label>
        <input type="text" asp-for="VcProvStatus" value="@Model.VcProvStatus">
    </div>
    <input type="submit" value="Guardar"/>
</form>