﻿@model List<Proveedor>
@{
    ViewData["Title"] = "Silo Comunicaciones - Gestión Web";
}

<h2>Proveedores</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre del Proveedor</th>
            <th scope="col">Descripción</th>
            <th scope="col">Estado</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var proveedor in @Model)
        {
            <tr>
                <th scope="row">@proveedor.ProveedorId</th>
                <td>@proveedor.VcProvName</td>
                <td>@proveedor.VcProvDesc</td>
                <td>@proveedor.VcProvStatus</td>
                <td><a href="~/../Proveedor/EditarProveedor/@proveedor.ProveedorId">Editar</a></td>
                <td><a href="~/../Proveedor/EliminarProveedor/@proveedor.ProveedorId">Eliminar</a></td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div>
    <a href="~/../Proveedor/CrearProveedor/">Agregar Proveedor</a>
</div>