﻿@model Producto
@{
    ViewData["Title"] = "Silo Comunicaciones - Gestión Web";
}


@if (@Model.ProveedorId == 0)
{
    <h2>El producto que desea buscar no existe!</h2>
}
else
{
    <h2>Buscar "@Model.VcProdName"</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre del Producto</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Proveedor</th>
                    <!--
    <th scope="col">Precio mayoreo</th>
    <th scope="col">Precio unitario</th>
                    -->
                    <th scope="col">Cantidad disponible</th>
                    <!--<th scope="col">Precio mayoreo</th>-->
                    <th scope="col">Estado</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">@Model.ProductoId</th>
                    <td>@Model.VcProdName</td>
                    <td>@ViewBag.Context.Marcas.Find(@ViewBag.Context.Productos.Find(@Model.ProductoId).MarcaId).VcMarcaName</td>
                    <td>@ViewBag.Context.Proveedores.Find(@ViewBag.Context.Productos.Find(@Model.ProductoId).ProveedorId).VcProvName</td>
                    <!--<td>@Model.FlUnitAmount</td>
                    <td>@Model.IntCantLote</td>-->
                    <td>@Model.FlLoteAmount</td>
                    <!--<td>@Model.VcProdStatus</td>-->
                </tr>
                </tbody>
            </table>
        </div>
    }
