﻿@model Producto

@{
    ViewData["Title"] = "Silo Comunicaciones - Gestión Web";
}

<h2>Agregar dispositivo nuevo</h2>

<form method="POST">
    <div class="form-group">
        <label asp-for="VcProdName" class="form-control">Nombre del Dispositivo</label>
        <input type="text" asp-for="VcProdName">
    </div>
    <div class="form-group">
        <label asp-for="ProveedorId" class="form-control">Elige un Proveedor</label>
        @Html.DropDownList("ProveedorId", new SelectList(@ViewBag.Proveedores, "Text", "Value"))
    </div>
    <div class="form-group">
        <label asp-for="MarcaId" class="form-control">Elige una Marca</label>
        @Html.DropDownList("MarcaId", new SelectList(@ViewBag.Marcas, "Text", "Value"))
    </div>
    <!--
    <div class="form-group">
        <label asp-for="FlUnitAmount" class="form-control">Precio unitario</label>
        <input type="text" asp-for="FlUnitAmount">
    </div>
    <div class="form-group">
        <label asp-for="FlLoteAmount" class="form-control">Precio mayoreo</label>
        <input type="text" asp-for="FlLoteAmount">
    </div>
    <div class="form-group">
        <label asp-for="IntCantLote" class="form-control">Unidades para mayoreo</label>
        <input type="text" asp-for="IntCantLote">
    </div>-->
    <input type="submit" value="Guardar"/>
</form>