﻿@model Producto

@{
    ViewData["Title"] = "Silo Comunicaciones - Gestión Web";
}

<h2>Edición del dispositivo @Model.ProductoId</h2>

<form method="POST">
    <div class="form-group">
        <label asp-for="VcProdName" class="form-control">Nombre del Dispositivo</label>
        <input type="text" asp-for="VcProdName" value="@Model.VcProdName">
    </div>
    <div class="form-group">
        <label asp-for="ProveedorId" class="form-control">Elije un Proveedor</label>
        @Html.DropDownList("ProveedorId", new SelectList(@ViewBag.Proveedores, "Text", "Value"))
    </div>
    <div class="form-group">
        <label asp-for="MarcaId" class="form-control">¿De que marca es?</label>
        @Html.DropDownList("MarcaId", new SelectList(@ViewBag.Marcas, "Text", "Value"))
    </div>
    <!--
    <div class="form-group">
        <label asp-for="FlUnitAmount" class="form-control">Precio unitario</label>
        <input type="text" asp-for="FlUnitAmount" value="@Model.FlUnitAmount">
    </div>
    <div class="form-group">
        <label asp-for="FlLoteAmount" class="form-control">Precio mayoreo</label>
        <input type="text" asp-for="FlLoteAmount" value="@Model.FlLoteAmount">
    </div>
    <div class="form-group">
        <label asp-for="IntCantLote" class="form-control">Unidades para mayoreo</label>
        <input type="text" asp-for="IntCantLote" value="@Model.IntCantLote">
    </div>-->
    <div class="form-group">
        <label asp-for="VcProdStatus" class="form-control">Estado</label>
        <input type="text" asp-for="VcProdStatus" value="@Model.VcProdStatus">
    </div>
    <input type="submit" value="Guardar" />
</form>