﻿@model RelVentaProductos

@{
    ViewData["Title"] = "Silo Comunicaciones - Gestión Web";
}

<h2>Agregar dispositivo a prestamo numero @ViewBag.VentaId</h2>

<form method="POST">
    <div class="form-group">
        <label asp-for="InventarioId" class="form-control">ID de inventario</label>
        @Html.DropDownList("InventarioId",new SelectList(ViewBag.Productos,"Text","Value"))
    </div>
    <div class="form-group">
        <label asp-for="VentaId" class="form-control">Número de prestamo</label>
        <input type="text" asp-for="InventarioId" value="@ViewBag.VentaId">
    </div>
    <input type="submit" value="Guardar"/>
</form>