﻿@model List<Venta>
@{
    ViewData["Title"] = "Silo Comunicaciones - Gestión Web";
}

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Cantidad</th>
            <th scope="col">RFC del empleado</th>
            <th scope="col">Fecha y hora</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var venta in @Model)
        {
            <tr>
                <th scope="row">@venta.VentaId</th>
                <td>@venta.FlAmout</td>
                <td>@ViewBag.Context.Usuarios.Find(venta.UsuarioId).VcUsrRfc</td>
                <td>@venta.DtVenta</td>
                <td><div>
                    <a href="~/../Venta/Venta/@venta.VentaId">Detalles</a>
                </div></td>
                <td><div>
                    <a href="~/../Venta/AgregarProducto/@venta.VentaId">Agregar dispositivo</a>
                </div></td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div>
    <a href="~/../Venta/NuevaVenta">Nuevo prestamo</a>
</div>