﻿@model Venta

@{
    ViewData["Title"] = "Silo Comunicaciones - Gestión Web";
}

<h2>Nueva Venta</h2>

<form method="POST">
    <div class="form-group">
        <label asp-for="UsuarioId" class="form-control">Empleado</label>
        @Html.DropDownList("UsuarioId",new SelectList(@ViewBag.Usuarios,"Text","Value"))
    </div>
    <div class="form-group">
        <label asp-for="FlAmout" class="form-control">Cantidad</label>
        <!--Ajustar todo a la base de datos en cantidad-->
        <input type="number" step="0.01" asp-for="FlAmout">
    </div>
    <div class="form-group">
        <label class="form-group">
            Dispositivo
        </label>
        <!--AGREGAR CODIGO DEL DISPOSITIVO!-->
    </div>
    <div class="form-group">
        <label>
            Cliente
        </label>
    </div>
    <input type="submit" value="Guardar"/>
</form>