﻿@model List<Factura>
@{
    ViewData["Title"] = "Silo Comunicaciones - Gestión Web";
}

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">RFC del empleado</th>
            <th scope="col">Nombre del empleado</th>
            <th scope="col">Marca</th>
            <th scope="col">Proveedor</th>
            <th scope="col">Producto</th>
            <th scope="col">Cliente</th>
            <th scope="col">Cantidad</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var factura in @Model)
        {
            <tr>
                <th scope="row">@factura.VentaId</th>
                <td>@factura.VcUsrRfc</td>
                <td>@factura.VcUsrNombre</td>
                <td>@factura.VcMarcaName</td>
                <td>@factura.VcProvName</td>
                <td>@factura.VcProdName</td>
                <td></td>
                <td>@factura.FlUnitAmount</td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div>
    <h3>Fecha y hora del prestamo: @Model[0].DtVenta</h3>
</div><!--
<div>
    <a href="~/../Venta/GenerarReportes/@Model[0].VentaId">Crear reportes PDF y XML</a>
</div>-->