﻿@model Inventario

@{
    ViewData["Title"] = "Silo Comunicaciones - Gestión Web";
}

<h2>Alta de inventario</h2>

<form method="POST">
    <div class="form-group">
        <!--En este caso se agrega la tabla directamente, al menos para usar un dropdownlist se coloca así-->
        <label asp-for="ProductoId" class="form-control">Dispositivo</label>
        @Html.DropDownList("ProductoId", new SelectList(@ViewBag.Productos, "Text", "Value"))
    </div>
    <!--
     <div class="form-group">
        <label asp-for="DtCaducidad" class="form-control">Fecha de ingreso</label>
        <input type="date" asp-for="DtCaducidad">
    </div>-->
    <!--En el caso de introducir la informacion para una determinada columna se coloca de esta forma respetando su tipo
        de dato (en el de arriba es date, en el de abajo es text):
        <input type="text" asp-for="ColumnaARegistrar">
        -->
    <div class="form-group">
        <label class="form-group">Cantidad a ingresar</label>
    </div>
    <input type="submit" value="Guardar" />
</form>